@import "tailwindcss";

@theme {
  --color-custom-background-primary: #0D0D0D; /* Deep black for the main background */
  --color-custom-background-secondary: #1A1A1A; /* Slightly lighter black for contrast */
  --color-custom-text-primary: #E4D8B4; /* Warm parchment-like text color */
  --color-custom-text-secondary: #A68A5B; /* Muted gold for secondary text */
  --color-custom-accent-primary: #8B0000; /* Dark crimson for accents */
  --color-custom-accent-secondary: #70543E; /* Bronze-like accent */
  --color-custom-accent-tertiary: #2E4A3D; /* Deep forest green for tertiary accents */
  --color-custom-border: #4A4A4A; /* Subtle gray for borders */
  --color-custom-hover: #5A3E6B; /* Royal purple for hover effects */
  --color-custom-shadow: rgba(0, 0, 0, 0.5); /* Slightly darker shadow for depth */
  --font-sans: var(--medievalSharp); /* Use the font variable */
  --font-mono: var(--medievalSharp);
}

body {
  background: var(--color-custom-background-primary);
  font-family: var(--font-sans); /* Apply the font variable */
  color: var(--color-custom-text-primary); /* Set text color */
}