@import "tailwindcss";

@theme {
  --color-custom-background-primary: var(--color-custom-background-primary-light);
  --color-custom-background-secondary: var(--color-custom-background-secondary-light);
  --color-custom-text-primary: var(--color-custom-text-primary-light);
  --color-custom-text-secondary: var(--color-custom-text-secondary-light);
  --color-custom-accent-primary: var(--color-custom-accent-primary-light);
  --color-custom-accent-secondary: var(--color-custom-accent-secondary-light);
  --color-custom-accent-tertiary: var(--color-custom-accent-tertiary-light);
  --color-custom-accent-quartiary: var(--color-custom-accent-quartiary-light);
  --color-custom-border: var(--color-custom-border-light);
  --color-custom-hover: var(--color-custom-hover-light);
  --color-custom-click: #3E6B5A;
  --color-custom-shadow: rgba(0, 0, 0, 0.5);
  --font-sans: var(--default-font);
  --font-mono: var(--imfellenglish-font);
  --font-serif: 'OldLondon';

  /* Define the custom animation variable */
  --animate-scale-in-hor-center: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  --animate-heartbeat: heartbeat 1.5s ease-in-out 1s infinite both;
  --animate-fadein: fadein 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  --animate-heartbeat-fadein: fadein 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards, heartbeat 1.5s ease-in-out 1s infinite;
  --animate-reload-spin: reload-spin 1s linear infinite;
  --animate-reload-spin-bezier: reload-spin 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
  --animate-slide-in-righ-to-left: slide-in-right-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  /* Light Theme Variables */
  --color-custom-background-primary-light: #ffffff;
  --color-custom-background-secondary-light: #f9f9f9;
  --color-custom-text-primary-light: #1a1a1a;
  --color-custom-text-secondary-light: #333333;
  --color-custom-accent-primary-light: #68abf3;
  --color-custom-accent-secondary-light: #c9ffca;
  --color-custom-accent-tertiary-light: #b2e4fb;
  --color-custom-accent-quartiary-light: #aaef95;
  --color-custom-border-light: #e0e0e0;
  --color-custom-hover-light: #0056b3;

  /* Dark Theme Variables */
  --color-custom-background-primary-dark: #0d0d0d;
  --color-custom-background-secondary-dark: #1a1a1a;
  --color-custom-text-primary-dark: #e4d8b4;
  --color-custom-text-secondary-dark: #fffff0;
  --color-custom-accent-primary-dark: #1c749c;
  --color-custom-accent-secondary-dark: #726c56;
  --color-custom-accent-tertiary-dark: #212658;
  --color-custom-accent-quartiary-dark: #9ca51a;
  --color-custom-border-dark: #4a4a4a;
  --color-custom-hover-dark: #5a3e6b;
}

@font-face {
  font-family: 'OldLondon';
  src: url('/fonts/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    transform-origin: 50% 50%;
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 50% 50%;
    opacity: 1;
  }
}
@keyframes slide-in-right-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reload-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-custom-background-secondary);
  color: var(--color-custom-text-primary);
}